[Unit]
Description=uWSGI instance to serve one-oms

[Service]
PIDFile=/var/run/fuck.pid
User=root
Group=root
WorkingDirectory=/data/projects/one-ops/backend
ExecStartPre=-/bin/mkdir -p /data/logs
ExecStart=/root/.pyenv/versions/envops/bin/gunicorn --config /data/projects/one-ops/backend/systemd/gunicorn/config.py --pid /var/run/fuck.pid core.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
KillSignal=SIGQUIT
Type=simple
NotifyAccess=all

[Install]
WantedBy=multi-user.target
