[Unit]
Description=uWSGI instance to serve one-oms

[Service]
Type=notify
User=root
Group=root
WorkingDirectory=/data/projects/one-ops/backend
ExecStartPre=-/bin/mkdir -p /data/logs
ExecStart=/root/.pyenv/versions/envops/bin/gunicorn --config /data/projects/one-ops/backend/systemd/gunicorn/config.py core.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
